/*fonts color*/
/*fonts family*/
/*padding size*/
/*btn violet*/
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,500&display=swap");
* {
  box-sizing: border-box;
}

:root {
  --primary: #9356DC;
  --secondary: #FF79DA;
  --tertiary: #99E2D0;
}

body {
  font-family: "Roboto", sans-serif;
}
body h1 h2 h3 h4 {
  font-family: "Shrikhand", cursive;
}

.purple__btn {
  text-align: center;
  color: white;
  border-radius: 30px;
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 15px 15px;
  width: 220px;
}
.purple__btn:hover {
  opacity: 0.9;
  box-shadow: 3px 3px 8px 3px grey;
}

.box__btn {
  display: flex;
  justify-content: center;
  padding: 30px;
}

/*card main page*/
.section-process__card {
  display: flex;
  flex-direction: row;
  background-color: #f3f3f3;
  border-radius: 20px;
  padding: 25px 0px;
  margin-bottom: 20px;
  margin-left: 10px;
  box-shadow: 3px 3px 8px 3px #d3d3d3;
  -webkit-box-shadow: 5px 10px 5px #e8e8e8;
  align-items: center;
}
.section-process__card:hover {
  background-color: #f2eafb;
}
.section-process__card:hover i {
  color: #9356DC;
}
.section-process__card .card__number {
  display: flex;
  background-color: #9356DC;
  color: white;
  border-radius: 50px;
  width: 25px;
  height: 25px;
  margin-left: -10px;
  align-items: center;
  padding-left: 8px;
}
.section-process__card .card__icon {
  width: 50px;
  color: grey;
}
.section-process__card .card__text {
  text-align: center;
}

.box-article {
  flex: auto;
  margin-right: 20px;
  margin-bottom: 30px;
  width: 260px;
  height: 230px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
@media (max-width: 767px) {
  .box-article {
    height: 250px;
    margin-right: 0px;
  }
}
.box-article .container-picture {
  display: flex;
  max-width: 100%;
  height: 150px;
  border-radius: 20px 20px 0 0;
}
@media (max-width: 767px) {
  .box-article .container-picture {
    height: 70%;
    border-radius: 30px 30px 0 0;
  }
}
.box-article .container-picture .box-picture {
  height: 60%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media (max-width: 767px) {
  .box-article .container-picture .box-picture {
    max-width: 100%;
    height: auto;
  }
}
.box-article .container-text {
  display: flex;
  display: flex;
  margin: 0px 5px 0px 5px;
  flex-direction: column;
  height: 70px;
}
.box-article .container-text h4 {
  margin-top: 10px;
  margin-left: 15px;
  margin-bottom: 10px;
  color: black;
  font-size: 17px;
  width: 100%;
}
.box-article .container-text > p {
  margin: 0;
  margin-left: 15px;
  color: black;
  font-size: 16px;
  text-align: justify;
  font-weight: lighter;
}

/*card menu pages*/
.menu-card {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .menu-card {
    flex-direction: column;
  }
}
.menu-card .menu-article {
  display: flex;
  flex-wrap: wrap;
  flex: auto;
  justify-content: space-between;
  align-content: center;
  gap: 20px;
  width: 30%;
  border-radius: 20px;
  padding: 15px;
}
@media (min-width: 768px) and (max-width: 1150px) {
  .menu-card .menu-article {
    width: 100%;
    flex: 50%;
  }
}
@media (max-width: 767px) {
  .menu-card .menu-article {
    width: 100%;
  }
}
.menu-card .menu-article .title {
  width: 100%;
  font-size: 20px;
  font-weight: lighter;
}

/*header main page*/
.header-margin {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.header-margin .header-logo {
  text-align: center;
  background-color: white;
  padding: 20px 0px;
  width: 100%;
}
.header-margin .logo__img {
  text-align: center;
  width: auto;
  height: auto;
}
.header-margin .header-form {
  width: 100%;
  padding: 20px 0px;
  text-align: center;
  background-color: #e6e6e6;
  box-shadow: inset 0px 5px 10px -10px;
}
.header-margin .header-form .form__input {
  background-color: #e6e6e6;
  border: none;
  width: 140px;
  padding: 0px 10px;
}

/*header menu pages*/
.header-nav {
  position: relative;
  text-align: center;
  width: 100%;
}
.header-nav .back-arrow {
  position: absolute;
  width: 60px;
  height: 56px;
  top: 0px;
  left: 0px;
}
.header-nav .back-arrow > i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}
.header-nav .header-nav-logo {
  text-align: center;
  background-color: white;
  padding: 15px 0px;
  width: 100%;
}
.header-nav .header-nav-logo .logo__img--nav {
  text-align: center;
  width: auto;
  height: 23px;
}

.header-img {
  width: 100%;
  height: 250px;
  display: flex;
}

/*section main page*/
.section-exploration {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  background-color: #f3f3f3;
}
.section-exploration h1 {
  text-align: center;
  width: 100%;
  font-size: 25px;
  margin-top: 0px;
  padding: 0px 20px;
}
.section-exploration .exploration__text {
  text-align: center;
  width: 100%;
  font-size: 19px;
  font-weight: lighter;
  margin-top: 0px;
}

.section-process {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding: 20px 20px;
}
@media (min-width: 768px) {
  .section-process {
    display: block;
    margin: auto;
    width: 700px;
  }
}

.section-restaurants {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding: 40px 20px;
  background-color: #f3f3f3;
}
@media (max-width: 767px) {
  .section-restaurants {
    flex: 1;
  }
}
.section-restaurants .container-restaurants-flex {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  .section-restaurants .container-restaurants-flex {
    flex-direction: column;
  }
}
.section-restaurants .container-restaurants-flex .box {
  display: flex;
  flex-wrap: wrap;
  flex: auto;
  justify-content: space-between;
  align-content: center;
  gap: 20px;
  width: 25%;
}
@media (max-width: 767px) {
  .section-restaurants .container-restaurants-flex .box {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1150px) {
  .section-restaurants .container-restaurants-flex .box {
    width: 100%;
    flex: 50%;
  }
}

h2 {
  text-align: left;
}
@media (min-width: 768px) {
  h2 {
    text-align: center;
  }
}

/*section menu pages*/
.section-menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding: 20px 0px;
  background-color: #f3f3f3;
  margin-top: -50px;
  border-radius: 20px 20px 0px 0px;
  position: relative;
  z-index: 1;
}
.section-menu .title__restaurant {
  text-align: left;
  font-family: "Shrikhand", cursive;
  font-size: 25px;
  font-weight: lighter;
  margin-left: 15px;
}

.menu-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
}
.menu-list .meal {
  flex-grow: 1;
}
.menu-list .meal .meal-title {
  margin: 0px;
  margin: 5px 0px;
  font-weight: normal;
}
.menu-list .meal .meal-element {
  font-weight: lighter;
}
.menu-list .meal-price {
  padding-right: 5px;
  align-self: flex-end;
}
.menu-list .meal-check-mark {
  background-color: #99E2D0;
  align-self: center;
  display: none;
}

.section-footer {
  padding: 20px 20px;
  background-color: #383838;
}
.section-footer .container-footer {
  display: flex;
  flex-direction: column;
}
.section-footer .container-footer > h2 {
  font-family: Shrikhand;
  font-weight: lighter;
  font-size: large;
  width: 100%;
}

.link {
  color: white;
  display: flex;
  width: 200px;
}
.link > i {
  margin-right: 10px;
  font-size: small;
}
.link > p {
  margin: 0px;
  margin-bottom: 10px;
}

.footer-ul {
  display: flex;
  flex-direction: column;
}
.footer-ul .footer-li {
  flex-direction: row;
}/*# sourceMappingURL=main.css.map */