/*fonts color*/
/*fonts family*/
/*padding size*/
/*btn purple*/
/*tag "nouveau"*/
/*heart purple*/
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,500&display=swap");
* {
  box-sizing: border-box;
}

:root {
  --primary: #9356DC;
  --secondary: #FF79DA;
  --tertiary: #99E2D0;
}

body {
  font-family: "Roboto", sans-serif;
}
body h1 h2 h3 h4 {
  font-family: "Shrikhand", cursive;
}

.btn-link {
  text-align: center;
  color: white;
  border-radius: 30px;
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 15px 15px;
  width: 220px;
}
.btn-link:hover {
  opacity: 0.9;
  box-shadow: 3px 3px 8px 3px grey;
}

.btn-box {
  display: flex;
  justify-content: center;
  padding: 30px;
}

/*card main page*/
.section__process__card {
  display: flex;
  flex-direction: row;
  background-color: #f3f3f3;
  border-radius: 20px;
  padding: 25px 0px;
  margin-bottom: 20px;
  margin-left: 10px;
  box-shadow: 3px 3px 8px 3px #d3d3d3;
  -webkit-box-shadow: 5px 10px 5px #e8e8e8;
  align-items: center;
}
.section__process__card:hover {
  background-color: #f2eafb;
}
.section__process__card:hover i {
  color: #9356DC;
}
.section__process__card__number {
  display: flex;
  background-color: #9356DC;
  color: white;
  border-radius: 50px;
  width: 25px;
  height: 25px;
  margin-left: -10px;
  align-items: center;
  padding-left: 8px;
}
.section__process__card__icon {
  width: 50px;
  color: grey;
}
.section__process__card__text {
  text-align: center;
}

.article {
  flex: auto;
  margin-bottom: 30px;
  width: 260px;
  height: 250px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
@media (min-width: 768px) {
  .article {
    height: 230px;
    margin-right: 20px;
  }
}
.article__box-picture {
  display: flex;
  max-width: 100%;
  height: 70%;
}
@media (min-width: 768px) {
  .article__box-picture {
    height: 65%;
  }
}
.article__box-picture__img {
  height: 60%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.article__box-text {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0px 5px 0px 5px;
  height: 70px;
}
.article__box-text h4 {
  margin-top: 10px;
  margin-left: 15px;
  margin-bottom: 10px;
  color: black;
  font-size: 17px;
  width: 100%;
}
.article__box-text > p {
  margin: 0;
  margin-left: 15px;
  color: black;
  font-size: 16px;
  text-align: justify;
  font-weight: lighter;
}

.article__box-text__icon {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 8px;
  right: 5px;
  fill: white;
  stroke: black;
  stroke-width: 25px;
}
.article__box-text__icon :hover {
  fill: url(#gradient-heart) #9356DC;
  transition: all 0.3s linear 0s;
  stroke: transparent;
}
.article__box-text__icon__heart {
  height: 25px;
  width: auto;
  text-align: center;
}

/*card menu pages*/
.article__menu {
  display: flex;
  flex-wrap: wrap;
  flex: auto;
  justify-content: space-between;
  gap: 20px;
  border-radius: 20px;
  padding: 15px;
}
@media (min-width: 768px) and (max-width: 1150px) {
  .article__menu {
    flex: 50%;
  }
}
@media (min-width: 1151px) {
  .article__menu {
    flex: 30%;
  }
}

.article__menu__title {
  align-items: center;
  width: 100%;
}
.article__menu__title__text {
  width: 100%;
  font-size: 20px;
  font-weight: lighter;
  margin-bottom: 0px;
}
.article__menu__title__subtitle {
  background-color: #99E2D0;
  color: #99E2D0;
  height: 1px;
  width: 30px;
  margin-left: 0px;
}
@media (min-width: 768px) {
  .article__menu__title__subtitle {
    margin: auto;
  }
}

.article__menu__box {
  height: 70px;
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 20px;
  margin: 10px 0px 10px 0px;
  flex-basis: 100%;
  flex-wrap: nowrap;
  transition: all 0.5s ease-in;
  font-size: 15px;
}
.article__menu__box__meal {
  flex-grow: 1;
  padding: 10px 0px 10px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.article__menu__box__meal__title {
  margin: 0px;
  margin: 5px 0px;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}
.article__menu__box__meal__description {
  font-weight: lighter;
  overflow: hidden;
  text-overflow: ellipsis;
}
.article__menu__box__price {
  padding: 10px;
  align-self: flex-end;
}
.article__menu__box__check {
  position: relative;
  background-color: #99E2D0;
  border-radius: 0px 20px 20px 0px;
  overflow: hidden;
  transition: flex-basis 500ms ease-in-out;
  flex-basis: 0%;
}
.article__menu__box__check > i {
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  transition: transform 400ms ease-in-out;
  transition-delay: 100ms;
}
.article__menu__box:hover .article__menu__box__check {
  flex-basis: 20%;
}
.article__menu__box:hover i {
  transform: translate(-50%, -50%) rotate(1turn);
}
.article__menu__box:not(:hover) i {
  transition: none;
}

.menu-box--1 {
  opacity: 0;
  -webkit-animation: apparition 1s ease-out forwards;
          animation: apparition 1s ease-out forwards;
}
.menu-box--2 {
  opacity: 0;
  -webkit-animation: apparition 1s ease-out 0.5s forwards;
          animation: apparition 1s ease-out 0.5s forwards;
}
.menu-box--3 {
  opacity: 0;
  -webkit-animation: apparition 1s ease-out 1s forwards;
          animation: apparition 1s ease-out 1s forwards;
}
.menu-box--4 {
  opacity: 0;
  -webkit-animation: apparition 1s ease-out 1.5s forwards;
          animation: apparition 1s ease-out 1.5s forwards;
}

@-webkit-keyframes apparition {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes apparition {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.opening-page {
  z-index: 999;
  position: fixed;
  background-color: white;
  background-position: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-animation: opening-page 1s forwards;
          animation: opening-page 1s forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@-webkit-keyframes opening-page {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 0;
    position: fixed;
  }
  100% {
    opacity: 0;
    display: none;
    z-index: -1;
  }
}

@keyframes opening-page {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 0;
    position: fixed;
  }
  100% {
    opacity: 0;
    display: none;
    z-index: -1;
  }
}
.loader-container {
  background: white;
  width: 100vW;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 1s ease-in-out;
}

.dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: linear-gradient(#FF79DA, #9356DC);
  margin: 0 5px;
  -webkit-animation: loader 0.5s alternate infinite;
          animation: loader 0.5s alternate infinite;
}

.d2 {
  -webkit-animation-delay: 0.05s;
          animation-delay: 0.05s;
}

.d3 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

@-webkit-keyframes loader {
  100% {
    transform: translateY(-30px);
  }
}

@keyframes loader {
  100% {
    transform: translateY(-30px);
  }
}
/*header main page*/
.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.header__logo {
  text-align: center;
  background-color: white;
  padding: 20px 0px;
  width: 100%;
}
.header__logo__img {
  text-align: center;
  width: auto;
  height: auto;
}
.header .header__form {
  width: 100%;
  padding: 20px 0px;
  text-align: center;
  background-color: #e6e6e6;
  box-shadow: inset 0px 5px 10px -10px;
}
.header .header__form__input {
  background-color: #e6e6e6;
  border: none;
  width: 140px;
  padding: 0px 10px;
}

/*header menu pages*/
.header__nav {
  position: relative;
  text-align: center;
  width: 100%;
}
.header__nav__arrow {
  position: absolute;
  width: 60px;
  height: 56px;
  top: 0px;
  left: 0px;
}
.header__nav__arrow > i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}
.header__nav__logo {
  text-align: center;
  background-color: white;
  padding: 15px 0px;
  width: 100%;
}
.header__nav__logo__img {
  text-align: center;
  width: auto;
  height: 23px;
}

.header__img {
  width: 100%;
  height: 250px;
  display: flex;
}

/*section main page*/
.section__exploration {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  background-color: #f3f3f3;
}
.section__exploration h1 {
  text-align: center;
  width: 100%;
  font-size: 25px;
  margin-top: 0px;
  padding: 0px 20px;
}
.section__exploration__text {
  text-align: center;
  width: 100%;
  font-size: 19px;
  font-weight: lighter;
  margin-top: 0px;
}

.section__process {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding: 20px 20px;
}
@media (min-width: 768px) {
  .section__process {
    display: block;
    margin: auto;
    width: 700px;
  }
}

.section__restaurants {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding: 40px 20px;
  background-color: #f3f3f3;
}
.section__restaurants__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
@media (min-width: 768px) {
  .section__restaurants__container {
    flex-direction: row;
  }
}
.section__restaurants__container__link {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex: auto;
  justify-content: space-between;
  align-content: center;
  gap: 20px;
  width: 100%;
}
@media (min-width: 768px) and (max-width: 1150px) {
  .section__restaurants__container__link {
    width: 100%;
    flex: 50%;
  }
}
@media (min-width: 1151px) {
  .section__restaurants__container__link {
    width: 25%;
  }
}
.section__restaurants__container__link .tag-new {
  position: absolute;
  background-color: #99E2D0;
  color: green;
  padding: 5px 10px;
  top: 10px;
  right: 30px;
}

h2 {
  text-align: left;
}
@media (min-width: 768px) {
  h2 {
    text-align: center;
  }
}

/*section menu pages*/
.section__menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding: 20px 0px;
  background-color: #f3f3f3;
  margin-top: -50px;
  border-radius: 20px 20px 0px 0px;
  position: relative;
  z-index: 1;
}
.section__menu__title {
  width: 100%;
  text-align: left;
  font-family: "Shrikhand", cursive;
  font-size: 25px;
  font-weight: lighter;
  padding-left: 15px;
}
.section__menu__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .section__menu__container {
    flex-direction: row;
  }
}

.section__menu__title__icon {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 8px;
  right: 5px;
  fill: white;
  stroke: black;
  stroke-width: 25px;
  top: 35px;
  right: 25px;
}
.section__menu__title__icon :hover {
  fill: url(#gradient-heart) #9356DC;
  transition: all 0.3s linear 0s;
  stroke: transparent;
}
.section__menu__title__icon__heart {
  height: 25px;
  width: auto;
  text-align: center;
}

.footer {
  padding: 20px 20px;
  background-color: #383838;
}
.footer__container {
  display: flex;
  flex-direction: column;
}
.footer__container > h2 {
  font-family: Shrikhand;
  font-weight: lighter;
  font-size: large;
  width: 100%;
}
.footer__container__ul {
  display: flex;
  flex-direction: column;
}
.footer__container__ul__li {
  flex-direction: row;
}

.footer__container__link {
  color: white;
  display: flex;
  width: 200px;
}
.footer__container__link > i {
  margin-right: 10px;
  font-size: small;
}
.footer__container__link > p {
  margin: 0px;
  margin-bottom: 10px;
}/*# sourceMappingURL=main.css.map */