/*fonts color*/
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

/*fonts family*/
$font-title: 'Shrikhand';
$font-text: 'Roboto';

/*padding size*/
$padding-section-large: 40px, 20px;
$padding-section-small: 20px, 20px;

