.footer{
    padding: 20px 20px;
    background-color: #383838;

    &__container{
        display: flex;
        flex-direction: column;
    
        >h2{
            font-family: Shrikhand;
            font-weight: lighter;
            font-size:large;
            width: 100%;
        }

        &__ul{
            display: flex;
            flex-direction: column;
        
            &__li{
                flex-direction: row;
            }
        }
    }
}

.footer__container__link{
    color:white;
    display: flex;
    width: 200px;

    >i{
        margin-right: 10px;
        font-size: small;
    }

    >p{
        margin:0px;
        margin-bottom: 10px;
    }
}