.section-exploration{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding:40px 20px;
    background-color: lighten(grey,45%);
    
    h1{
        text-align: center;
        width: 100%;
        font-size: 25px;
        margin-top:0px;
        padding: 0px 20px;
    }

    .exploration__text{
        text-align: center;
        width: 100%;
        font-size:19px;
        font-weight: lighter;
        margin-top: 0px;
    }
}

.section-process{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding:20px 20px;

    @media (min-width: 768px){
    display: block;
    margin: auto;
    width: 700px;
    }
}

.section-restaurants{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding:40px 20px;
    background-color: lighten(grey,45%);
    
    @media (max-width: 767px){
    flex: 1;
    }

    .container-restaurants-flex{
        display: flex;
        flex-wrap: wrap;
        
        @media (max-width: 767px){
        flex-direction: column;
        }   

        .box{
            display: flex;
            flex-wrap: wrap;
            flex: auto;
            justify-content: space-between;
            align-content: center;
            gap: 20px;
            width: 25%;

            @media (max-width: 767px){
            width: 100%;
            }
            @media (min-width: 768px) and (max-width: 991px){
            width: 100%;
            flex: 50%;
            }
        }
    }
}

h2{
    text-align: left;
    @media (min-width: 768px){
    text-align: center;
    }
}

