.section-exploration{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding:40px 20px;
    background-color: lighten(grey,45%);
    
    h1{
        text-align: center;
        width: 100%;
        font-size: 25px;
        margin-top:0px;
        padding: 0px 20px;
    }

    .exploration__text{
        text-align: center;
        width: 100%;
        font-size:19px;
        font-weight: lighter;
        margin-top: 0px;
    }

    .exploration__btn{
        text-align: center;
        color:white;
        border-radius:30px;
        background: linear-gradient(#FF79DA, #9356DC);
        padding: 15px 15px;
        width: 220px;

        &:hover{
            opacity: 0.9;
            box-shadow: 3px 3px 8px 3px grey;
        }
    }
}

.section-process{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding:20px 20px;

    @media (min-width: 768px){
    display: block;
    margin: auto;
    width: 700px;
    }

    .section-process__card{
        display: flex;
        flex-direction: row;
        background-color: lighten(grey,45%);
        border-radius: 20px;
        padding: 25px 0px;
        margin-bottom: 20px;
        margin-left:10px;
        box-shadow: 3px 3px 8px 3px #d3d3d3;
        -webkit-box-shadow : 5px 10px 5px #e8e8e8;
        align-items: center;

        &:hover{
            background-color: lighten(#9356DC, 35%);
        }
        &:hover i {
            color: #9356DC;
        }

        .card__number{
            display: flex;
            background-color: #9356DC;
            color:white;
            border-radius: 50px;
            width: 25px;
            height: 25px;
            margin-left: -10px;
            align-items: center;
            padding-left: 8px;
        }

        .card__icon{
            width: 50px;
            color:grey;
        }

        .card__text{
            text-align: center;
        }
    }
}

.section-restaurants{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding:40px 20px;
    background-color: lighten(grey,45%);
    
    @media (max-width: 767px){
    flex: 1;
    }

    .container-restaurants-flex{
        display: flex;
        flex-wrap: wrap;
        
        @media (max-width: 767px){
        flex-direction: column;
        }   

        .box{
            display: flex;
            flex-wrap: wrap;
            flex: auto;
            justify-content: space-between;
            align-content: center;
            gap: 20px;
            width: 25%;

            @media (max-width: 767px){
            width: 100%;
            }
            @media (min-width: 768px) and (max-width: 991px){
            width: 100%;
            flex: 50%;
            }
        }
    }
}

.box-article{
    flex: auto;
    margin-right: 20px;
    margin-bottom: 30px;
    width: 260px;
    height: 230px;            
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%);

    @media (max-width: 767px){
    height: 250px;
    margin-right: 0px;    
    }

    .container-picture{
        display: flex;
        max-width: 100%;
        height: 150px;
        border-radius: 20px 20px 0 0;
        
    @media (max-width: 767px){
        height: 70%;
        border-radius: 30px 30px 0 0;
    }
    
        .box-picture{
            height: 60%;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            object-fit: cover;
            object-position: center;
            
            @media (max-width: 767px){
              max-width: 100%;
              height: auto;
            }
        }  
    
        .container-text{
            display: flex;
            display: flex;
            margin: 0px 5px 0px 5px;
            flex-direction: column;
            height: 70px;
        }
    }  
}

h4 {
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 10px;
    color: black;
    font-size: 17px;
    width: 100%;
}

.container-text>p{
    margin: 0;
    margin-left: 15px;
    color: black;
    font-size: 16px;
    text-align: justify;
    font-weight: lighter;
}

h2{
    text-align: left;
    @media (min-width: 768px){
    text-align: center;
    }
}

