/*card main page*/

.section-process__card{
    display: flex;
    flex-direction: row;
    background-color: lighten(grey,45%);
    border-radius: 20px;
    padding: 25px 0px;
    margin-bottom: 20px;
    margin-left:10px;
    box-shadow: 3px 3px 8px 3px #d3d3d3;
    -webkit-box-shadow : 5px 10px 5px #e8e8e8;
    align-items: center;

    &:hover{
        background-color: lighten(#9356DC, 35%);
    }
    &:hover i {
        color: #9356DC;
    }

    .card__number{
        display: flex;
        background-color: #9356DC;
        color:white;
        border-radius: 50px;
        width: 25px;
        height: 25px;
        margin-left: -10px;
        align-items: center;
        padding-left: 8px;
    }

    .card__icon{
        width: 50px;
        color:grey;
    }

    .card__text{
        text-align: center;
    }
}

.box-article{
    flex: auto;
    margin-right: 20px;
    margin-bottom: 30px;
    width: 260px;
    height: 230px;            
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%);

    @media (max-width: 767px){
    height: 250px;
    margin-right: 0px;    
    }

    .container-picture{
        display: flex;
        max-width: 100%;
        height: 150px;
        border-radius: 20px 20px 0 0;
        
        @media (max-width: 767px){
        height: 70%;
        border-radius: 30px 30px 0 0;
        }
    
        .box-picture{
            height: 60%;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            object-fit: cover;
            object-position: center;
            
            @media (max-width: 767px){
              max-width: 100%;
              height: auto;
            }
        }
    }
    
    .container-text{
        display: flex;
        display: flex;
        margin: 0px 5px 0px 5px;
        flex-direction: column;
        height: 70px;

        h4 {
            margin-top: 10px;
            margin-left: 15px;
            margin-bottom: 10px;
            color: black;
            font-size: 17px;
            width: 100%;
        }
        
        &>p{
            margin: 0;
            margin-left: 15px;
            color: black;
            font-size: 16px;
            text-align: justify;
            font-weight: lighter;
        }
    }  
}

/*card menu pages*/

.menu-card{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    
    @media (max-width: 767px){
    flex-direction: column;
    }

    .menu-article{
        display: flex;
        flex-wrap: wrap;
        flex: auto;
        justify-content: space-between;
        align-content: center;
        gap:20px;
        width: 30%;
        border-radius: 20px;
        padding:15px;

        @media (min-width: 768px) and (max-width: 1150px){
        width: 100%;
        flex: 50%;
        }
        @media (max-width: 767px){
        width: 100%;
        }

        .title{
            position: relative;
            width: 100%;
            font-size: 20px;
            font-weight: lighter;

            &::after{
                position: absolute;
                color:$tertiary-color;
                content: "______";
                left: 45%;
                bottom: -10px;
            } 
        }            
    }
}