/*card main page*/

.section__process__card{
    display: flex;
    flex-direction: row;
    background-color: lighten(grey,45%);
    border-radius: 20px;
    padding: 25px 0px;
    margin-bottom: 20px;
    margin-left:10px;
    box-shadow: 3px 3px 8px 3px #d3d3d3;
    -webkit-box-shadow : 5px 10px 5px #e8e8e8;
    align-items: center;

    &:hover{
        background-color: lighten(#9356DC, 35%);
    }
    &:hover i {
        color: #9356DC;
    }

    &__number{
        display: flex;
        background-color: #9356DC;
        color:white;
        border-radius: 50px;
        width: 25px;
        height: 25px;
        margin-left: -10px;
        align-items: center;
        padding-left: 8px;
    }

    &__icon{
        width: 50px;
        color:grey;
    }

    &__text{
        text-align: center;
    }
}

.article{
    flex: auto;
    margin-bottom: 30px;
    width: 260px;
    height: 250px;            
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%);

    @media (min-width: 768px){
    height: 230px;
    margin-right: 20px;    
    }

    &__box-picture{
        display: flex;
        max-width: 100%;
        height: 70%;
        
        @media (min-width: 768px){
        height: 65%;
        }
    
        &__img{
            height: 60%;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }
    }
    
    &__box-text{
        display: flex;
        flex-direction: column;
        position: relative;
        margin: 0px 5px 0px 5px;
        height: 70px;

        h4{
            margin-top: 10px;
            margin-left: 15px;
            margin-bottom: 10px;
            color: black;
            font-size: 17px;
            width: 100%;
        }
        
        &>p{
            margin: 0;
            margin-left: 15px;
            color: black;
            font-size: 16px;
            text-align: justify;
            font-weight: lighter;
        }
    }  
}

.article__box-text__icon{
    @include heart-icon;

    :hover{
        @include heart-hover;
    }

    &__heart{
        @include heart-svg;
    }
}

/*card menu pages*/

.article__menu{
    display: flex;
    flex-wrap: wrap;
    flex: auto;
    justify-content: space-between;
    gap:20px;
    border-radius: 20px;
    padding:15px;

    @media (min-width: 768px) and (max-width: 1150px){
    flex: 50%;
    }
    @media (min-width: 1151px){
    flex: 30%;
    }
}

.article__menu__title{
    align-items: center;
    width: 100%;

    &__text{
        width: 100%;
        font-size: 20px;
        font-weight: lighter;
        margin-bottom: 0px;
    }

    &__subtitle{
        background-color:$tertiary-color;
        color:$tertiary-color;
        height: 1px;
        width: 30px;
        margin-left: 0px;

        @media(min-width: 768px){
        margin: auto;   
        }
    }  
}

.article__menu__box{
    height:70px;
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 20px;
    margin: 10px 0px 10px 0px;
    flex-basis: 100%;
    flex-wrap: nowrap;
    font-size: 15px;
    cursor: pointer;
    transition: apparition 0.5s ease-in;

    &__meal{
        flex-grow: 1;
        padding: 10px 0px 10px 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &__title{
            margin:0px;
            margin:5px 0px;
            font-weight: normal;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &__description{
            font-weight: lighter;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &__price{
        padding: 10px;
        align-self: flex-end;
    }

    &__check{
        position:relative;
        background-color: $tertiary-color;
        border-radius:0px 20px 20px 0px;
        overflow: hidden;
        transition: flex-basis 500ms ease-in-out;        
        flex-basis: 0%;

        &>i{
            position:absolute;
            color:white;
            top:50%;
            left: 50%;
            transform: translate(-50%,-50%) rotate(0);
            transition: transform 400ms ease-in-out;
            transition-delay: 100ms;   
        }
    }

    &:hover{
        .article__menu__box__check{
            flex-basis: 20%;
        }
        i{
            transform: translate(-50%,-50%) rotate(1turn);
        }
    }

    &:not(:hover){
        i{
            transition: none;
        }
    }
}

.menu-box{
    &--1{
        opacity:0; animation:apparition 1s ease-out forwards;
    }
    &--2{
        opacity:0; animation:apparition 1s ease-out 0.5s forwards;
    }
    &--3{
        opacity:0; animation:apparition 1s ease-out 1s forwards;
    }
    &--4{
        opacity:0; animation:apparition 1s ease-out 1.5s forwards;
    }
}

@keyframes apparition{
    from{
        opacity: 0;
        transform: translateY(15px);
    }
    to{
        opacity:1;
        transform: translateY(0px);
    }
}